<!DOCTYPE html>
<html>
<head>
	<title>Inventario</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/app.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>	
	<script type="text/javascript" src="/jQueryFile.js"></script>
</head>
<body>

	<div class="row container">
		<div class="col-4">
			<ul class="nav flex-column">
			  <li class="nav-item">
			    <a class="nav-link active" href="#">Active</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Link</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Link</a>
			  </li>
			</ul>
		</div>
		<div class="col-4">
			<form action="/producto" method="POST">
			  <h1>Crear articulo</h1>
			  <div class="form-group">
			  	<label for="productoSeleccionado">Producto</label>

		    	<select id="productoSeleccionado" class="btn btn-outline-secondary dropdown-toggle form-control col-5 dropdown" onchange="run(this.value);">
		    		<option>Seleccione...</option>
		    		<% for (var i = 0; i < producto.length; i++) { %>
		    			
		    			<option value="<%= i %>"><%= producto[i]['descripcion'] %></option>



		    		<% } %>
		    		
		    	</select>			  	
			  </div>  			  
  			  <div class="form-group">
			    <label for="precioLista">Precio lista</label>
			    <fieldset disabled>
			    <input id="precioLista" type="text" class="form-control col-3" name="producto[precioLista]">
			    </fieldset>
			  </div>
			  <div class="form-group">
			    <label for="precioVenta">Precio venta</label>
			    <fieldset disabled>
			    	<input id="precioVenta" type="text" class="form-control col-3" placeholder="$" name="producto[precioVenta]">
			    </fieldset>
			  </div>
			  <div class="form-group">
			    <label for="precioXMayor">Precio al por mayor</label>
			    <fieldset disabled>
			    	<input id="precioXMayor" type="text" class="form-control col-3" placeholder="$" name="producto[precioXMayor]">			    	
			    </fieldset>			    
			  </div>
			  <div class="form-group">
			  	<label for="almacen">Almacen</label>
		    	<select id="almacen" class="btn btn-outline-secondary dropdown-toggle form-control col-5 dropdown">
		    		<% almacen.forEach ( function(almacen) { %>
		    			<option><%= almacen.nombre %></option>	
		    		<% } ); %>
		    	</select>			  	
			  </div>
			  	
			  	<button id="saveBtn" type="submit" class="btn btn-primary mt-3">Guardar</button>
			</form>
		</div>
	</div>
	
</body>
</html