<!DOCTYPE html>



<html>
    <head>
        <link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet"/>
        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>        
    </head>
    <body>



        <input id="pick" value="<%=dataSent%>" hidden>
        <div id="wdr-component"></div>
        <script>
            var x = [document.getElementById('pick').value];
            
            console.log(typeof x);
            // x = [ { cantidad: 1 }, { cantidad: 2 }, { cantidad: 1 }, { cantidad: 2 } ];
            // console.log('after ',typeof x);
            var pivot = new WebDataRocks({
                container: "#wdr-component",
                toolbar: true,
                report: {
                    dataSource: { 
                        data: x
                }
             } });
                
            </script>
    </body>
</html>
